### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [102]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
pymoli_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(pymoli_data)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [103]:
#calculate total unique players
total_players = purchase_data_df["SN"].unique()
len(total_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
#number of items
unique_items = purchase_data_df["Item Name"].unique()
len(unique_items)

179

In [105]:
#average price per item
avg_price = purchase_data_df["Price"].mean()
avg_price

3.050987179487176

In [106]:
#number of purchases
purchases = purchase_data_df["Purchase ID"]
len(purchases)

780

In [107]:
#calculate total revenue
total_rev = purchase_data_df["Price"].sum()
total_rev

2379.77

In [108]:
#put calculations in a data frame
purchasing_analysis_df = pd.DataFrame(
    {"Number of Unique Items": [len(unique_items)],
     "Average Price": [avg_price],
     "Number of Purchases": [len(purchases)],
     "Total Revenue": [total_rev]
     }
)
#clean formatting
purchasing_analysis_df["Average Price"]= purchasing_analysis_df["Average Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"]= purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
#display DF
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [109]:
#calculate total number
total_count = (purchase_data_df['Gender'])
len(total_count)

780

In [110]:
#calculating each type of gender by their screen name

gender_count = purchase_data_df.groupby(['Gender']).nunique()['SN']
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [111]:
#calculating percent of gender
percent_gender = (gender_count/len(total_players)*100)
percent_gender

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [112]:
#using calculations in a data frame
gender_dem_df = pd.DataFrame(
    {"Total Count": gender_count,
     "Percentage of Players": percent_gender
     }
)
#clean formatting
gender_dem_df["Percentage of Players"]= gender_dem_df["Percentage of Players"].map("{:,.2f}%".format)
#display DF
gender_dem_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

In [113]:
#grouping gender by the purchases
purchase_gender_count = purchase_data_df.groupby(['Gender']).count()['Price']
purchase_gender_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [114]:
#average price spent per gender
gender_avg_price = purchase_data_df.groupby(['Gender']).mean()['Price']
gender_avg_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [115]:
#total amount bought per gender
gender_total_purch = purchase_data_df.groupby(['Gender']).sum()["Price"]
gender_total_purch

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [116]:
#average per gender
avg_per_person = gender_total_purch/gender_count
avg_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [117]:
#data frame using gender information
gender_purchasing_analysis_df = pd.DataFrame(
    {"Purchase Count": purchase_gender_count,
     "Average Purchase Price": gender_avg_price,
     "Total Purchase Price": gender_total_purch,
     "Avg Total Purchase per Person": avg_per_person
     }
)
#clean formatting
gender_purchasing_analysis_df["Average Purchase Price"]= gender_purchasing_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
gender_purchasing_analysis_df["Total Purchase Price"]= gender_purchasing_analysis_df["Total Purchase Price"].map("${:,.2f}".format)
gender_purchasing_analysis_df["Avg Total Purchase per Person"]= gender_purchasing_analysis_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
#display DF
gender_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [118]:
#bins for the different age categories
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [119]:
#adding new age group column to original DF
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [120]:
#groupby on Age Group 
pymoli_age_grouped = purchase_data_df.groupby("Age Group")
#calculate total count and percenatge of players by age category
members_by_age = pymoli_age_grouped["SN"].nunique()
Percent_of_players_age = (members_by_age/len(total_players))*100
# create a DataFrame to hold results 
age_demographics = pd.DataFrame({"Percentage of players":Percent_of_players_age,"Total count":members_by_age})
#clean formatting 
age_demographics["Percentage of players"] = age_demographics["Percentage of players"].map("{:.2f}%".format)
#display DF
age_demographics

          Percentage of players  Total count
Age Group
<10                       2.95%           17
10-14                     3.82%           22
15-19                    18.58%          107
20-24                    44.79%          258
25-29                    13.37%           77
30-34                     9.03%           52
35-39                     5.38%           31
40+                       2.08%           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [125]:
#amount of players in each age range
age_count = pymoli_age_grouped["Age"].count()
age_count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

In [122]:
#average person per age group
avg_price_age = pymoli_age_grouped["Price"].mean()
avg_price_age

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [123]:
#total purchases per age group
age_total_purch = pymoli_age_grouped["Price"].sum()
age_total_purch

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [126]:
#average person per age group
age_avg_per_person = age_total_purch/members_by_age
age_avg_per_person

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [127]:
#DF for purchasing details
age_purchasing_analysis_df = pd.DataFrame(
    {"Purchase Count": age_count,
     "Average Purchase Price": avg_price_age,
     "Total Purchase Price": age_total_purch,
     "Avg Total Purchase per Person": age_avg_per_person
     }
)
#clean formatting
age_purchasing_analysis_df["Average Purchase Price"]= age_purchasing_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
age_purchasing_analysis_df["Total Purchase Price"]= age_purchasing_analysis_df["Total Purchase Price"].map("${:,.2f}".format)
age_purchasing_analysis_df["Avg Total Purchase per Person"]= age_purchasing_analysis_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
#display DF
age_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [128]:
#group by screen name
pymoli_SN = purchase_data_df.groupby("SN")

In [129]:
#display amount of times each screen name bought
SN_count = pymoli_SN["Age"].count()
SN_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Age, Length: 576, dtype: int64

In [130]:
#average price of top spender
top_spender_avg_price = pymoli_SN["Price"].mean()
top_spender_avg_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [131]:
#total price of top spender
top_spender_total_price = pymoli_SN["Price"].sum()
top_spender_total_price

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [137]:
#display data frame
spender_purchasing_analysis_df = pd.DataFrame(
    {"Purchase Count": SN_count,
     "Average Purchase Price": top_spender_avg_price,
     "Total Purchase Price": top_spender_total_price,
     }
)
#clean formatting
spender_purchasing_analysis_df["Average Purchase Price"]= spender_purchasing_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
spender_purchasing_analysis_df["Total Purchase Price"]= spender_purchasing_analysis_df["Total Purchase Price"].map("${:,.2f}".format)
spender_purchasing_analysis_df = spender_purchasing_analysis_df.sort_values("Purchase Count", ascending = False)
#display top 5 spenders
spender_purchasing_analysis_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Price
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [140]:
!open .

In [141]:
pwd

'/Users/victoriawallin/Desktop/DS_Bootcamp_2021class/nu-chi-data-pt-02-2021-u-c/02-Homework/04-Pandas/Instructions/HeroesOfPymoli'

In [143]:
!cd  /Users/victoriawallin/Desktop/DS_Bootcamp_2021class && open .

In [145]:
!cp -R /Users/victoriawallin/Desktop/DS_Bootcamp_2021class/nu-chi-data-pt-02-2021-u-c/02-Homework/04-Pandas/ /Users/victoriawallin/Desktop/DS_Bootcamp_2021class/home_work/04-Pandas